@use 'sass:map';
@use '../../../utils/variables' as var;
@use '../../../utils/theme';
@use '../../../utils/mixins' as mixins;

$aspect-ratio: map-get(
  $map: var.$aspect-ratio,
  $key: 'premium'
);

$border-radius: map-get(
  $map: var.$border-radius,
  $key: 'm'
);

.card {
  width: calc(100vw - var.$root-padding * 2);
  display: flex;
  flex-direction: column;
  gap: 14px;
  background-color: map-get($map: var.$background-color, $key: 'card');
  border-radius: map-get($map: var.$border-radius, $key: 'l');

  @media screen and (min-width: 490.1px) {
    padding: 16px;
    width: calc(420px + 1vw);
  }

  @media screen and (min-width: 900px) {
    width: 100%;
  }
}

.profile_section {
  display: flex;
  align-items: center;
  gap: 8px;
  .username_section {
    display: grid;
    gap: 4px;
    p {
      @include theme.body2;
      @include mixins.text-ellipsis(16ch);
    }
    span {
      @include mixins.caption;
      color: map-get($map: var.$text-color, $key: 'secondary');
      @include mixins.text-ellipsis(16ch);
    }
    @include mixins.max-width(360px) {
      span,
      p {
        @include mixins.text-ellipsis(10ch);
      }
    }
  }
}
.image-wrapper {
  flex: 1;
  width: 100%;
}

.image,
.image-wrapper {
  position: relative;
  aspect-ratio: $aspect-ratio;
  border-radius: $border-radius !important;
  overflow: hidden !important;
}

.image {
  width: 100%;
}

.image-wrapper {
  position: relative;

  .like_icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 5%;
    opacity: 0 !important;
    transition: all 0.2s ease-in;
  }

  &.active_like {
    .like_icon {
      opacity: 1 !important;
      width: 25% !important;
    }
  }
}

.lead_wrapper {
  padding: 12px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: $border-radius;
  background-color: map-get($map: var.$background-color, $key: 'surface');

  .lead {
    display: flex;
    align-items: center;
    gap: 4px;

    .lead_name {
      @include mixins.body2;
      color: map-get($map: var.$text-color, $key: 'secondary') !important;
      text-decoration: none;

      span {
        @include mixins.caption();
        color: map-get($map: var.$text-color, $key: 'disabled');
      }
    }
  }

  .lead_btn {
    @include mixins.button;
    color: map-get($map: var.$text-color, $key: 'button') !important;
  }
  .lead_section {
    .net_worth {
      display: flex;
      align-items: center;
      gap: 0.5ch;
      svg {
        margin-bottom: -2px;
        margin-left: -2px;
      }
      span {
        @include mixins.subtitle2;
        color: map-get($map: var.$text-color, $key: 'secondary') !important;
      }
    }
  }
}

.card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .options_wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
  }
}

.gross_coins_wrapper {
  display: grid;
  place-items: center;
  .gross_coins {
    display: flex;
    align-items: center;
    gap: 0.5ch;

    p {
      @include mixins.body1;
    }
  }
  span {
    @include mixins.caption;
    color: map-get($map: var.$text-color, $key: 'secondary');
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post_count_down {
  max-width: 14ch !important;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  gap: 0.5ch;

  code {
    @include mixins.subtitle1;
    width: 3ch;
    display: grid;
    place-items: center;
    aspect-ratio: map-get($map: var.$aspect-ratio, $key: 'square');
    color: map-get($map: var.$text-color, $key: 'secondary');
    background-color: map-get($map: var.$background-color, $key: 'surface');
    border-radius: map-get($map: var.$border-radius, $key: 's');
  }

  &.dead_line {
    code {
      color: lighten($color: var.$like_color, $amount: 6%);
    }
  }

  &.completed {
    code {
      color: map-get($map: var.$text-color, $key: 'disabled');
    }
  }
}

.btn_wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}
