@use '../../../utils/mixins';
@use '../../../utils/theme';
@use '../../../utils/variables' as var;

$card-radius: map-get(
  $map: var.$border-radius,
  $key: 'm'
);
$card-color: map-get(
  $map: var.$background-color,
  $key: 'card'
);

$padding: 1rem;

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: $card-radius;

  @media screen and (min-width: 550px) {
    box-shadow: var.$shadow;
  }
  @media screen and (max-width: 490px) {
    border-bottom: 1px solid map-get($map: var.$background-color, $key: 'surface');
  }
}

.post_header {
  $radius: $card-radius;
  padding: 0.5rem calc($padding - 4px) 6px $padding;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: $card-color;

  border-top-left-radius: $radius;
  border-top-right-radius: $radius;

  .user {
    display: flex;
    align-items: center;
    gap: 0.3rem;

    .username_wrapper {
      display: grid;
      place-content: center;
      gap: 0.3rem;
      P {
        @include theme.body2;
        color: map-get($map: var.$text-color, $key: 'primary');
        @include mixins.text-ellipsis(16ch);
      }
      span {
        @include mixins.caption;
        color: map-get($map: var.$text-color, $key: 'secondary');
        @include mixins.text-ellipsis(16ch);
      }
      @include mixins.max-width(360px) {
        p,
        span {
          @include mixins.text-ellipsis(10ch);
        }
      }
    }
  }

  .icon_wrapper {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
}

.category_icon_wrapper {
  $radius: map-get(
    $map: var.$border-radius,
    $key: 'max'
  );

  padding: 5px 14px 5px 6px;
  width: min-content;
  display: flex;
  align-items: center;
  gap: 0.8rem;

  background-color: map-get($map: var.$background-color, $key: 'surface');
  border-radius: $radius;

  .icon {
    $size: 2.5rem;
    width: $size;
    height: $size;
    display: grid;
    place-items: center;
    background-color: map-get($map: var.$background-color, $key: 'card');
    border-radius: $radius;

    svg {
      $size: 2.16rem;
      width: $size;
      height: $size;
      color: map-get($map: var.$text-color, $key: 'primary');
    }
  }
  .priority {
    @include mixins.body1();
    color: map-get($map: var.$text-color, $key: 'primary');
  }

  &.hide {
    padding: 0;
    .icon {
      $size: calc(2.5rem + 5px);
      width: $size;
      height: $size;
      background-color: map-get($map: var.$background-color, $key: 'surface');
    }
    .priority {
      display: none;
    }
  }
}

.post_wrapper {
  --aspect-ratio: #{map-get($map: var.$aspect-ratio, $key: 'premium')};
  position: relative;

  width: 100%;
  aspect-ratio: var(--aspect-ratio);

  background-color: map-get($map: var.$background-color, $key: 'wrapper');
  overflow: hidden;

  -webkit-tap-highlight-color: transparent !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  &:focus {
    outline: none !important;
  }

  .like_icon {
    position: absolute;
    color: var.$like-color;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 5%;
    opacity: 0;
    transition: all 0.2s ease-in;
  }

  &.active_like {
    .like_icon {
      opacity: 1;
      width: 20%;
    }
  }

  .snap_container {
    --no-of-pictures: 1;

    position: absolute;
    inset: 0 !important;

    display: grid;
    grid-template-columns: repeat(var(--no-of-pictures), 100%);

    scroll-snap-type: x mandatory;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      display: none !important;
      -ms-overflow-style: none !important;
      scrollbar-width: none !important;
    }
  }

  .post {
    position: relative;
    width: 100%;
    height: 100%;

    scroll-snap-align: start;
  }

  caption {
    position: absolute;
    inset: auto 0.6rem 0.6rem;

    @include mixins.background-blur(rgb(38 38 38 / 50%), 38px);
    @include mixins.subtitle1;

    color: rgb(250 250 250 / 90%);
    border-radius: map-get($map: var.$border-radius, $key: 'm');

    padding: 0.8rem;

    overflow: hidden;
  }
  .slot {
    position: absolute;
    inset: 0 0.8rem auto auto;

    display: grid;
    place-items: center;

    width: 3rem;
    aspect-ratio: 1 !important;

    @include mixins.background-blur();
    @include mixins.heading5;

    color: map-get($map: var.$text-color, $key: 'primary');
    $radius: map-get(
      $map: var.$border-radius,
      $key: 'm'
    );
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
  }

  .slot,
  caption {
    transition: all 0.2s ease-in;
  }

  &.hide_title {
    .slot,
    caption {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.post_footer {
  $radius: $card-radius;
  padding: 0.9rem $padding 0.8rem calc($padding + 4px);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.86rem;
  background-color: $card-color;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

.footer_row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    color: map-get($map: var.$text-color, $key: 'secondary') !important;
  }
}

.like_comment_wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post_details {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    .count {
      color: map-get($map: var.$text-color, $key: 'secondary');
    }
    @include mixins.body2();
    color: map-get($map: var.$text-color, $key: 'disabled');
  }

  time {
    @include mixins.caption();
    color: map-get($map: var.$text-color, $key: 'disabled');
  }
}
