@use '../utils/_mixins';
@use '../utils/theme';
@use '../utils/variables' as var;

$padding: 1.2rem;

.page_wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: min-content auto;
  overflow: hidden;

  .container {
    height: 100% !important;
    overflow: hidden;
  }

  section {
    padding: $padding;
    height: calc(100vh - var(--appbar-height) * 2 - 70px );
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;

    h3 {
      @include theme.title1();
    }

    .view_more_btn {
      display: grid;
      place-items: center;
    }
  }
}

.navigation_section {
  padding: $padding;
  width: 100%;
  display: grid;
  place-items: center;
  gap: 1.4rem;

  & > input[type='radio'] {
    display: none;
  }

  nav {
    $width: 16ch;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, $width);
    gap: 1rem;

    &::before {
      position: absolute;
      content: '';
      width: $width;
      height: 100%;
      z-index: 1;
      transition: all 0.4s cubic-bezier(1, 0.01, 0, 1.01);
      @include theme.radius('max');
      @include theme.bg-color('surface');
    }

    &.tab2 {
      &::before {
        transform: translateX(calc($width + 1rem));
      }
    }
    &.tab1,
    & {
      &::before {
        right: auto;
        left: 0;
      }
    }

    label {
      padding: 0.6rem;
      display: grid;
      place-items: center;
      z-index: 2;
      cursor: pointer;

      @include mixins.body1();
      @include theme.text-color('primary');
      @include mixins.pulse-animation();
    }
  }
}

.card {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .post {
    width: 5rem;
    @include theme.radius('m');
    overflow: hidden;
  }
  .coins {
    flex: 1;
    display: grid;

    code {
      display: flex;
      align-items: center;
      @include theme.title1();
    }
    span {
      padding-left: 0.2rem;

      @include theme.text-color('secondary');
      @include theme.body2();
    }
  }
}
