@use './../../../../styles/utils/mixins';
@use './../../../../styles/utils/theme';
@use './../../../../styles/utils/variables' as var;

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.9rem 1.36rem;

  .btn {
    @include theme.radius('m');
    overflow: hidden;
  }
  .palette {
    @include theme.radius('m');
    width: 100%;
    height: 2.8rem;
    display: flex;
    & > div {
      flex: 1;
    }

    &.selected {
      outline: 3px solid var(--color-card);
      outline-offset: -6px;
    }
  }
}
