@use '../../../styles/utils/mixins';
@use '../../../styles/utils/theme';
@use '../../../styles/utils/variables' as var;

$minHeightAppbar: var(--appbar-height);

.wrapper {
  position: fixed;
  inset: 0 0 auto 0;

  height: $minHeightAppbar;

  padding: 0.54rem 1.4rem;
  padding-bottom: 2rem;
  display: grid;
  gap: 0.6rem;

  z-index: 99;

  background-color: map-get($map: var.$background-color, $key: 'card');
  border-bottom: 1px solid map-get($map: var.$background-color, $key: 'paper');

  @include theme.bg-color('card');
  @include mixins.background-blur(map-get($map: var.$background-color, $key: 'blur'), 74px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    @include theme.headline2();
    display: flex;
    align-items: center;
    gap: 0.5ch;

    .dropdown {
      width: 24px;
      height: 24px;
      padding: 0.1rem;
      padding-top: 0.28rem;

      @include theme.bg-color('surface');
    }
  }
}

.filter {
  width: 100%;
  overflow: hidden;
}

.fix {
  height: $minHeightAppbar;
}
