@use '../../utils/theme';

.popup {
  width: 100%;
  display: grid;
  place-content: center;

  .wrapper {
    width: 100%;
    max-width: 450px;
    display: grid;
    gap: 1.5rem;

    &> h3 {
      @include theme.headline2();
    }

    & > div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }
}
