@use '../../utils/theme';
@use '../../utils/mixins';
@use '../../utils/variables' as var;

.root {
  width: 100%;
  display: grid;
  place-items: center;
}

.wrapper {
  width: 100%;
  max-width: 26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;

  h3 {
    @include theme.display2();
  }

  p {
    @include theme.body1();
  }
  span {
    @include mixins.caption();
  }

  h3,
  p,
  span {
    text-align: center;
  }
  .btn_group {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
  }
}
