@use './utils/variables' as var;
@use './utils/mixins';
@use './utils/theme';

.page_wrapper {
  @include theme.bg-color('card');
}

.wrapper {
  &,
  & * {
    box-sizing: border-box !important;
  }
  padding: var.$root-padding;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      width: 100%;
      font-weight: 500;
      font-size: clamp(1.2rem, 1.6vw, 1.6rem);
      color: rgba(0, 0, 0, 0.65);
      span {
        font-weight: 300;
        font-size: clamp(2.7rem, 4.2vw, 4.2rem);
        color: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
          display: flex;
          gap: 16px;
        }
      }
      margin-bottom: 32px;
      @media screen and (min-width: 1582px) {
        width: 1400px;
      }
    }
  }

  .container_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 20px;
    @media screen and (min-width: 1582px) {
      width: 1400px;
    }
    @media screen and (max-width: 562px) and (min-width: 430px) {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
  }
}

.btn_wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 18px;
  display: grid;
  place-items: center;
  background-color: #fff;

  & > div {
    display: flex;
    gap: 16px;
  }
}

.fix {
  height: 80px;
}

@media screen and (max-width: 1079.9px) {
  .btn_wrapper {
    padding-bottom: 26px;
    z-index: 999999;
    box-shadow: rgba(149, 157, 165, 0.26) 0px 8px 24px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .fix {
    height: 0;
  }
}

.category_card {
  position: relative;
  padding: 0 !important;
  border-radius: 10px !important;
  cursor: pointer !important;
  overflow: hidden;
  transition: all 0.2s ease;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.05);
    }
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  label {
    padding: 18px;
    width: 100%;
    display: grid;
    gap: 8px;
    background-color: #fff !important;
    border-radius: 10px !important;
    cursor: pointer;

    .image {
      position: relative;
      width: 100%;
      aspect-ratio: 1 / 0.75;
      img {
        opacity: 0.85;
        transform: scale(0.75) !important;
      }
    }

    .label {
      position: relative;
      height: 3.2ch;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5ch;

      span {
        position: absolute;
        left: 0;
        width: 3ch;
        height: 3ch;
        display: grid;
        place-items: center;
        color: rgba(255, 255, 255, 0.9);
        background-color: var(--accent-color);
        border-radius: 50%;
        transition: all 0.2s ease;
        transform: scale(0);
      }
      p {
        font-size: 14px;
        padding-left: 0;
        transition: all 0.2s ease;
      }
    }
  }

  input:checked + label {
    outline: 2px solid var(--accent-color);
    outline-offset: -2px;
    .label {
      span {
        transform: scale(1);
      }
      p {
        padding-left: 1.8ch;
        width: 9ch;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  @media screen and (max-width: 562px) and (min-width: 430.1px) {
    .image {
      img {
        transform: scale(0.75) !important;
      }
    }

    label {
      padding: 8px;
      grid-template-columns: 56px auto;
      gap: 10px;

      .label {
        height: 100%;
        align-items: center;
        justify-content: flex-start !important;
        text-align: left !important;
        span {
          left: auto;
          right: 0;
          width: 2.5ch;
          height: 2.5ch;
        }
      }
    }
    input:checked + label {
      .label {
        span {
          transform: scale(1);
        }
        p {
          width: 80px;
          padding-left: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .wrapper {
    .container {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      gap: 14px;
    }
  }

  .category_card {
    label {
      .label {
        height: 2.5ch;
        span {
          width: 2.25ch !important;
          height: 2.25ch;
          font-size: 1.5ch;
        }
        p {
          font-size: 11px;
        }
      }
    }

    input:checked + label {
      .label {
        justify-content: flex-start;
        p {
          text-align: left;
          padding-left: 3ch;
          width: 10ch;
        }
      }
    }
  }
}

// category post view

.mobile-wrapper {
  padding-block: var.$root-padding;
  display: grid;
  gap: 24px;
  @media screen and (min-width: 550px) {
    --padding-inline: 3vw;
    padding-left: var(--padding-inline);
    padding-right: var(--padding-inline);
  }
  @media screen and (min-width: 640px) {
    --padding-inline: 5vw;
  }
  @media screen and (min-width: 700px) {
    --padding-inline: 12vw;
  }
}
.desktop-wrapper {
  --columns: 2;
  padding: 0 var.$root-padding var.$root-padding;
  display: grid;
  gap: 0.9rem;
  grid-template-columns: repeat(var(--columns), 1fr);

  @media screen and (min-width: 720px) {
    gap: 1.2rem;
    --columns: 3;
  }
  @media screen and (min-width: 900px) {
    --columns: 4;
  }
  @media screen and (min-width: 1400px) {
    --columns: 5;
    gap: 36px 36px;
  }
}

// category preview cards

.category-preview-card {
  $borderRadius: 10px;

  width: 100%;
  overflow: hidden !important;
  border-radius: $borderRadius !important;

  .preview-card-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: $borderRadius;
    overflow: hidden;
    aspect-ratio: 8.5 / 11 !important;

    .slot {
      position: absolute;
      top: 0.7rem;
      right: 0.7rem;
      width: 37px;
      height: 37px;
      display: grid;
      place-items: center;
      border-bottom-left-radius: $borderRadius;
      border-radius: $borderRadius;
      z-index: 1;
      transition: all 0.3s ease;

      @include mixins.background-blur();

      span {
        font-size: 17.6px;
        font-weight: 500;
      }
    }

    .add_post {
      position: absolute;
      inset: 0;
      display: grid;
      place-items: center;
      text-align: center;
      @include mixins.background-blur(rgba(38, 38, 38, 0.38), 20px);
      z-index: 1;
      transition: all 0.3s ease;
      span {
        color: rgba(255, 255, 255, 0.8);
        font-size: 18px;
      }
    }

    .title {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      transition: all 0.3s ease;

      display: flex;
      align-items: center;
      justify-content: center;
      color: #e7ebf0;
      pointer-events: none;

      span {
        padding: 1ch 2ch;
        font-size: 16px;
        font-weight: 400;
        color: inherit;
        @media screen and (min-width: 1280px) {
          font-size: 16px;
        }
      }

      // overlay effect

      background-color: rgba(0, 0, 0, 0.8);
      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;

      @include mixins.background-blur(rgba(38, 38, 38, 0.5), 16px);
    }

    .empty-state {
      position: absolute;
      inset: 0;
      display: grid;
      place-items: center;
      border-radius: $borderRadius;

      @include theme.bg-color('surface');
      @include theme.text-color('secondary');
    }

    .add_post,
    .title {
      opacity: 0;
    }
    @media (hover: hover) {
      .title {
        inset: 0;
      }
      &:hover {
        .add_post,
        .title,
        .slot {
          opacity: 1;
        }
      }
    }
  }
}

.category_icon {
  padding: 6px 14px 6px 6px;
  display: flex;
  align-items: center;
  gap: 14px;
  background-color: map-get($map: var.$background-color, $key: 'paper');
  border-radius: 999px;

  & > div {
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 50%;
  }

  span {
    color: map-get($map: var.$text-color, $key: 'primary');
    font-weight: 600;
  }
}

.fab {
  position: fixed !important;
  bottom: 24px;
  right: 24px;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  transition: transform 0.2s ease !important;
  transform: translateY(0);

  overflow: hidden !important;

  &.show_fab {
    transform: translateY(-60px);
  }
  .img {
    $size: 2rem;
    display: grid;
    place-items: center;
    svg {
      width: $size;
      height: $size;
    }
  }

  .img > svg, span {
    color:#fff;
  }

  @media screen and (min-width: 491px) {
    right: 36px;
  }
}
