@use './../../utils/mixins';

.post_wrapper,
.wrapper {
  @include mixins.bottom-entry;
}

.wrapper {

  padding: 1rem;

  &, & * {
    box-sizing: border-box !important;
  }
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;

  @media screen  and (min-width: 540px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen  and (min-width: 900px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen  and (min-width: 1200px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media screen  and (min-width: 1420px) {
    grid-template-columns: repeat(6, 1fr);
  }

}

.post_wrapper {
  display: flex;
  align-items: flex-end;
}